@import url(variables.css);


nav a {
  font-weight: bold;
  color: var(--link-color);
}
/* TEst */
nav a:hover {
  color: var(--link-color-hover);
  transition-duration: 0.25s;
}

nav a.router-link-exact-active {
  color: var(--link-color-active);
}

a,
router-link {
  color: var(--link-color);
  text-decoration: none;
}

.dark
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-text-color);
}


.light
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-text-color);
}
.large {
	font-size: 2rem;
}

.small {
	font-size: 0.75rem;
}

.subtle {
	color: var(--secondary-text-color);
}

