@import url(variables.css);
/*
Theme:
	Default:
		- 0d012e -- Russian Violet (Primary Background)
		- eff8e2 -- Floral White (Primary Text)
		- ff1fbc -- Electric Pink (Links)
		- 52b2cf -- Light Blue (Primary Buttons)
		- 615756 -- Dark Grayish Brown (Secondary Buttons)
		- fcb0b3 -- Melon (Panels)
*/
:root {
  /* Light Themes */
  --lt-color: #615756;
  --lt-background: #eff8e2;

  /* Dark Themes */
  --dk-color: #0d012e;
  --dk-background: #52b2cf;

  /* Pop Shadow */
  --pop-shadow: 6px 8px 5px 0 rgba(0, 0, 0, 0.2);
}

.light {
  background-color: var(--lt-background);
  color: var(--lt-color);
}

.dark {
  background-color: var(--dk-background);
  color: var(--dk-color);
}
